{% extends 'base.html'%}
{%block title%}Edit Your Blog {%endblock%}
{% block content%}
{% if user.is_authenticated%}
<div class="edit-class">
    <h1>Edit Post</h1>
    <div class="form-group">
        <form action="" method="post">
            {%csrf_token%}
            {{form.media}}
            {{form.as_p}}
            <!-- as_'format' -->
            <button class="btn btn-danger">Update</button>
    </div>
</div>
{%else%}
<div class="edit-class">
    <H1>Login Or Register Yourself</H1>
</div>
{%endif%}
{% endblock%}